In [1]:
import pandas as pd

df = pd.read_csv("master_dataset_new.csv")
print(df.shape)
df.head()

(46628, 30)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,cast,crew,keywords,director,main_director,soup
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"['animation', 'comedy', 'family']",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Toy Story,False,7.7,5415.0,"['tomhanks', 'timallen', 'donrickles']","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","['jealousi', 'toy', 'boy', 'friendship', 'frie...",John Lasseter,johnlasseter,jealousi toy boy friendship friend rivalri boy...
1,False,NaN,65000000,"['adventure', 'fantasy', 'family']",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Jumanji,False,6.9,2413.0,"['robinwilliams', 'jonathanhyde', 'kirstendunst']","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","['boardgam', 'disappear', ""basedonchildren'sbo...",Joe Johnston,joejohnston,boardgam disappear basedonchildren'sbook newho...
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"['romance', 'comedy']",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Grumpier Old Men,False,6.5,92.0,"['waltermatthau', 'jacklemmon', 'ann-margret']","[{'credit_id': '52fe466a9251416c75077a89', 'de...","['fish', 'bestfriend', 'duringcreditssting', '...",Howard Deutch,howarddeutch,fish bestfriend duringcreditssting oldmen walt...
3,False,NaN,16000000,"['comedy', 'drama', 'romance']",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Waiting to Exhale,False,6.1,34.0,"['whitneyhouston', 'angelabassett', 'lorettade...","[{'credit_id': '52fe44779251416c91011acb', 'de...","['basedonnovel', 'interracialrelationship', 's...",Forest Whitaker,forestwhitaker,basedonnovel interracialrelationship singlemot...
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,['comedy'],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Father of the Bride Part II,False,5.7,173.0,"['stevemartin', 'dianekeaton', 'martinshort']","[{'credit_id': '52fe44959251416c75039ed7', 'de...","['babi', 'midlifecrisi', 'confid', 'age', 'dau...",Charles Shyer,charlesshyer,babi midlifecrisi confid age daughter motherda...

In [2]:
columns_to_keep = ['title','release_date','popularity','main_director','soup']
df = df[columns_to_keep]
print(df.shape)

(46628, 5)

In [3]:
df['popularity'] = pd.to_numeric(df['popularity'], errors='coerce')
df = df.dropna(subset=['popularity'])
df = df.sort_values(by='popularity', ascending=False)
df = df.head(2500)

print(df.shape)
df.head()

(2500, 5)

,title,release_date,popularity,main_director,soup
30876,Minions,2015-06-17,547.488298,kylebalda,assist aftercreditssting duringcreditssting ev...
33535,Wonder Woman,2017-05-30,294.337037,pattyjenkins,dccomic hero greekmytholog island worldwari su...
43376,Beauty and the Beast,2017-03-16,287.253654,billcondon,franc magic castl fairytal music curs anthropo...
44797,Baby Driver,2017-06-28,228.032744,edgarwright,robberi atlanta music crimeboss romanc tinnitu...
24603,Big Hero 6,2014-10-24,213.849907,chriswilliams,brotherbrotherrelationship hero talent reveng ...

In [4]:
df = df[['release_date','title','main_director','soup']]
print(df.shape)
df.head()

(2500, 4)

,release_date,title,main_director,soup
30876,2015-06-17,Minions,kylebalda,assist aftercreditssting duringcreditssting ev...
33535,2017-05-30,Wonder Woman,pattyjenkins,dccomic hero greekmytholog island worldwari su...
43376,2017-03-16,Beauty and the Beast,billcondon,franc magic castl fairytal music curs anthropo...
44797,2017-06-28,Baby Driver,edgarwright,robberi atlanta music crimeboss romanc tinnitu...
24603,2014-10-24,Big Hero 6,chriswilliams,brotherbrotherrelationship hero talent reveng ...

In [5]:
df.to_csv("master_dataset_final.csv", index=False)
print("Saved -> master_dataset_final.csv ✔️")

Saved -> master_dataset_final.csv ✔️